# Hi! This is a _heading_ with **strongly** emphasized text in it

We can also use this to represent monospace `code` using back quotation

***

In [1]:
print("hello world!")

hello world!

In [2]:
x = 2
y = 3

In [3]:
x + y

5

In [4]:
x + y 
x - y # Only the last line will be printed

-1

In [5]:
print(x + y)
x - y

5

-1

In [6]:
mynums = [1, 2, 3, 1, 2]
mynums

[1, 2, 3, 1, 2]

In [10]:
for x in mynums:
    print(x+1)

2
3
4
2
3

In [11]:
mynums?

In [12]:
len?

In [13]:
import pandas as pd

In [14]:
pd.DataFrame(mynums)

   0
0  1
1  2
2  3
3  1
4  2

In [16]:
mynums.sort(reverse=True)
print(mynums)

[3, 2, 2, 1, 1]

In [17]:
import panda as pd

ModuleNotFoundError: No module named 'panda'

In [18]:
x = 1+1
y = 1-1
z = x/y

ZeroDivisionError: division by zero

In [19]:
%debug

> <ipython-input-18-ab38e88d1dcb>(3)<module>()
      1 x = 1+1
      2 y = 1-1
----> 3 z = x/y

ipdb> x
2
ipdb> y
0
ipdb> z
*** NameError: name 'z' is not defined
ipdb> exit()